<!DOCTYPE html>
<html>
<head>
  <title>Woleon Home</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'home/header'%>
<div style="margin-top:51px;">
  <%= yield %>
</div>

</body>
</html>
